.page{
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#login-page-content{
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#login-page-content h4{
    margin-bottom: 5px;
}

.mid{
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.davidprutprutprut{
    width: 500px;
    height: 100px;
}

.login_container{
    width: 100%;
}

.img{
    left: 50%;
    position: fixed;
    transform: translate(-50%,0);
    display: inline-block;
}

.header{
    left: 50%;
    text-align: center;
    position: fixed;
    transform: translate(-50%,0);
    font-family: Bahnschrift;
    display: inline-block;
}

.header2{
    font-family: Bahnschrift;
    width: 200px;
}


.introduction {
    left: 50%;
    position: fixed;
    transform: translate(-50%,0);
    width: 190px;
    font-size: smaller;
}

.list_button{
    background-color: white;
    border-color: white;
    border-radius: 0px;
    width: 155px;
    height: 30px;
}

.list_button:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}

.button{
    background-color: white;
    border-radius: 0px;
    width: 165px;
    height: 30px;
    cursor:pointer;
}

.button:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}

.login{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: Bahnschrift;
    background-color: white;
    border-radius: 0px;
    width: 165px;
    height: 30px;
}


.login:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}

.email-field{
    font-family: Bahnschrift;
    width: 200px;
}
.password-field{
    font-family: Bahnschrift;
    width: 200px;
}

.glemt{
    font-family: Bahnschrift;
    font-size: smaller;
    cursor:pointer;
}

.showpassword {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.showpassword #APBI {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.showpassword:hover #APBI {
    visibility: visible;
}