.page{
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-family: Bahnschrift;
}

.input{
    width: 200px;
}

.guessinput{
    width: 85px;
}

#text{
    font-size: medium;
}

#login-page-content{
    position: fixed;
    height: 300px;
    width: 200px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-family: Bahnschrift;
}

#login-page-content h1{
    left: 500px;
    width: 100%;
    text-align: center;
}

#login-page-content h2{
    font-size: small;
    width: 100%;
    text-align: center;
}

.img{
    left: 50%;
    top: 10%;
    position: fixed;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.list_button{
    background-color: white;
    border-color: white;
    border-radius: 0px;
    width: 203px;
    height: 30px;
    font-family: Bahnschrift;
}

.list_button:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}

.glemt{
    font-family: Bahnschrift;
    font-size: smaller;
    cursor:pointer;
}

.showpassword {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.showpassword #APBI {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.showpassword:hover #APBI {
    visibility: visible;
}

#game_page{
    font-family: Bahnschrift;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.result{
    text-align: center;
}

#results{
    font-weight: bold;
    text-decoration: underline dotted;
}

#word{
    font-style: italic;
}

.hangman_left{
    width: 500px;
    height: 500px;
    position: fixed;
    left: 10%;
    top: 20%;
}

.hangman_right{
    width: 500px;
    height: 500px;
    position: fixed;
    right: 10%;
    top: 20%;

}

.text_style {
    font-family: Bahnschrift;
    font-weight: bold;
}

.italic{
    font-style: italic;
    color: red;
}

.changepassword{
    text-align: center;
    text-decoration: underline dotted;
}

.text_style h1{
    margin-bottom: 10px;
}

.text_style h2{
    margin-bottom: 15px;
}

#image{
    width: 300px;
    height: 300px;
}

/* The following CSS is acquired from the example for a js snackbar on w3schools and then modified:
   https://www.w3schools.com/howto/howto_js_snackbar.asp
   The code taken from the site continues until the comment: 'TOAST CSS END'
 */
#toast{
    visibility: hidden;
    min-width: 250px;
    background-color: #373737;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
/* TOAST CSS END */
